{% extends '::base.html.twig' %}

{% block body %}
    {% verbatim %}

        <div class="w3-container w3-opensans">

            <h1>
                <i class="fa-cogs fa fa-lg w3-text-grey"></i>
                Application
            </h1>

            <div class="w3-container w3-pale-green w3-leftbar w3-border-green w3-card-2">
                <p>Zażółć gęślą jaźń, London is the capital city of England.
                    It is the most populous city in the United Kingdom,
                    with a metropolitan area of over 13 million inhabitants.</p>
            </div>

            <br/>

            <div class="w3-container w3-light-grey w3-leftbar w3-border-blue w3-card-2">
                <p>Lorem ipsum, dolor sit ammet.</p>
            </div>

            <br/>

            <div ng-controller="dummyController" class="w3-card-2 w3-container w3-responsive">
                <h3>
                    <i class="fa-list-alt fa fa-lg w3-text-grey"></i>
                    List ({{data.length}})
                </h3>

                <ul class="w3-ul">
                    <li ng-repeat="rec in data|orderBy:'-name'">
                        {{rec.name}}
                    </li>
                </ul>
                <br/>
            </div>

            <br/>

            <div ng-controller="customersController" class="w3-card-2 w3-container w3-responsive">

                <h3>
                    <i class="fa-table lt fa fa-lg w3-text-grey"></i>
                    Table ({{data.length}})
                </h3>

                <table class="w3-table w3-bordered">
                    <thead>
                        <tr class="w3-green">
                            <th>#</th>
                            <th>{{'gender' | uppercase}}</th>
                            <th>{{'firstName' | uppercase}}</th>
                            <th>{{'lastName' | uppercase}}</th>
                            <th>{{'email' | uppercase}}</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="rec in data|orderBy:'lastName'">
                            <td>{{rec.id}}</td>
                            <td><i class="fa fa-{{rec.gender}} fa-lg w3-text-grey"></i></td>
                            <td>{{rec.firstName}}</td>
                            <td>{{rec.lastName}}</td>
                            <td>{{rec.email}}</td>
                            <td>
                                <div class="w3-btn-group">
                                    <button ng-click="selected.rec = rec; showInfo()" title="Info" class="js-btn-info w3-btn w3-blue w3-hover-teal">
                                        <i class="fa fa-info-circle fa-lg"></i>
                                    </button>
                                    <button ng-click="remove(rec.id)" title="Remove" class="js-btn-cancel w3-btn w3-red w3-hover-orange">
                                        <i class="fa fa-times-circle fa-lg"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br/>

                <div id="js-modal-info" class="w3-modal">
                    <div class="w3-modal-content w3-animate-top">
                        <header class="w3-container w3-teal">
                            <h3>
                                <i class="fa-info-circle fa"></i>
                                Info
                            </h3>
                        </header>
                        <div class="w3-container">
                            <p><i class="fa fa-3x fa-{{ selected.rec.gender}}"></i></p>
                            <h4>{{ selected.rec.firstName}} {{ selected.rec.lastName}} ({{ selected.rec.username}})</h4>
                            <p>{{ selected.rec.email}}</p>
                        </div>
                        <footer class="w3-container w3-teal" style="padding:8px;">
                            <button ng-click="hideInfo()" class="w3-btn w3-right w3-white">Close</button>
                        </footer>
                    </div>
                </div>
            </div>

        </div>

        <br/>
    {% endverbatim %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('//www.w3schools.com/lib/w3.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/angular/application.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js') }}"></script>
    <script>
                                    var dataUrl = '{{ url('default.data') }}';
                                    var refreshAfter = 30;
    </script>
    <script src="{{ asset('bundles/app/js/angular/application.js') }}"></script>
{% endblock %}
